<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackrat.a14_a_canvas_drawing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anim02">
        <activity android:name="com.jackrat.a14_a_canvas_drawing.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jackrat.a14_a_canvas_drawing.DrawBitmapActivity" />
        <activity android:name="com.jackrat.a14_a_canvas_drawing.DrawTextActivity" />
        <activity android:name="com.jackrat.a14_a_canvas_drawing.DrawGradientActivity" />
        <activity android:name="com.jackrat.a14_a_canvas_drawing.DrawShapeActivity" />
        <activity android:name="com.jackrat.a14_a_canvas_drawing.DrawCustomFontActivity"/>
        <activity android:name="com.jackrat.a14_a_canvas_drawing.ChessActivity"/>


    </application>

</manifest>